<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.dfrs"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="6" />
    <instrumentation android:targetPackage="" android:name="android.test.InstrumentationTestRunner" />
    <application android:icon="@drawable/icon_launcher" android:label="@string/app_name">

    <uses-library android:name="android.test.runner" />
	
	<intent-filter>
		<action android:name="android.intent.action.MAIN" />
		<category android:name="android.intent.category.LAUNCHER" />
	</intent-filter>
	

	<service android:name="com.ScreenshotService">
        <intent-filter>
                <action android:name="com.ScreenshotService.BIND" />
                <category android:name="android.intent.category.DEFAULT"/>
        </intent-filter>
	</service>

    </application>
</manifest>